body{
    background-color: gray;
}

.circle{
    width:200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin: 50px;
}

#red-circle{
    background-color: red;
}
#blue-circle{
    background-color: blue;
}
#green-circle{
    background-color: green;
}
